# Root Environment Variables

# Application
NODE_ENV=development
APP_NAME=SecureBank
APP_VERSION=1.0.0

# Docker
DOCKER_COMPOSE_PROJECT_NAME=securebank

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=securebank
DB_USER=postgres
DB_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=your_super_secret_access_key_here_change_in_production
JWT_REFRESH_SECRET=your_super_secret_refresh_key_here_change_in_production

# API
API_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173
